* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  font-family: "Poppins", sans-serif;
}

.upperBlue {
  width: 100%;
  height: 364px;
  background: linear-gradient(274.83deg, #5db0df 0.58%, #5d7adf 74.3%);
  /* border: 1px solid red; */
  color: white;
  position: relative;
}
.nav {
  /* border: 1px solid black; */
  display: flex;
  /* position: absolute; */
  width: 100%;
  padding-top: 20px;
}
.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.logo > svg {
  width: 30px;
  height: 30px;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.right > div:nth-child(1) {
  margin-left: 40%;
}

.right > div:nth-child(2) {
  margin-left: 3%;
}

.titleCont {
  /* border: 1px solid black; */
  margin-top: 80px;
}
.title {
  font-size: 40px;
  font-weight: 700;
  padding: 0px 7%;
  line-height: 72px;
}
.titlePara {
  padding: 0px 7%;
  font-size: 20px;
  font-weight: 400;
}
.searchBoxCont {
  padding: 0px 7%;
  position: absolute;
  margin-top: 100px;
  width: 85%;
}
.searchBox {
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-radius: 10px;
}

.inputBox {
  display: flex;
  align-items: center;
}
.inputBox div:nth-child(2) > input {
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
}

.selectBox {
  display: flex;
}
.selectBox select {
  font-size: 18px;
  color: #7b7b7b;
  outline: none;
  border: none;
  background: white;
}
.searchButton > button {
  background-color: #f07987;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  color: white;
}
.wholeCardCont {
  /* border: 1px solid red; */
  padding: 0px 7%;
  padding-top: 100px;
}

.cardCont {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.leftCardCont {
  width: 50%;
}
.rightCardCont {
  width: 50%;
}

.card {
  display: flex;
  /* border: 1px solid black; */
  margin: 10px;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

.grayBox {
  border: 1px solid #e5e5e5;
  height: 120px;
  width: 50%;
  border-radius: 8px;
  background-color: #e5e5e5;
  margin-right: 20px;
}
.cardBtn {
  margin-left: 60%;
}
.cardBtn > button {
  color: #f07987;
  border: 1px solid #f07987;
  font-size: 16px;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.cardPara {
  color: gray;
}
